.searchForm {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  width: 90%;
  border: none;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  outline: none;
  &:focus {
    outline: none;
  }
  @media (max-width: 767px) {
    width: 75%;
  }
}

.button {
  width: 15%;
  background-color: #6b97b6;
  padding: 10px 20px;
  outline: none;
  border: none;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  @media (max-width: 767px) {
    width: 25%;
  }
}
