.App {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(136, 54, 89, 0.4374124649859944) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  max-width: calc(1100px + 3%);
  margin: 0 auto;
  padding: 15px;
}

.logo {
  display: block;
  margin-bottom: 15px;
}
