.card {
  margin: 20px;
  flex-basis: 28%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 5px 20px rgb(71, 71, 71);
  @media (max-width: 990px) {
    flex-basis: 44%;
  }
  @media (max-width: 677px) {
    flex-basis: 100%;
  }
}
.image {
  height: 270px;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.description {
  padding: 1.25rem 1.5rem;
}

.cuisine {
  display: block;
  margin: 15px;
}

.list {
  padding-left: 1rem;
}
.listItem {
  padding-left: 1rem;
  word-break: break-word;
}
